.Quiz {
  text-align: center;
}

.QuizTitle {
  margin-bottom: 24px;
}

.QuizQuestion {
  font-size: 24px;
  margin-bottom: 16px;
}

.QuizAnswerInput {
  width: 48px;
  padding: 4px;
  font-size: 24px;
}

.QuizAnswerInput:focus {
  outline: 0;
}

.QuizSummary {
  margin-top: 24px;
  margin-bottom: 16px;
}
